.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.3);

  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal__is-open {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 0.5s linear;
}

.modal__content {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 28px;
  box-sizing: border-box;
  width: 100%;
  max-width: 496px;
  position: relative;
}

.modal__title {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: #000;
  margin: 0 0 24px;
}

.modal__close-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 20px;
  right: 28px;
  padding: 0;
}

.modal__close-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.modal__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0;
  color: #000;
  margin: 0 0 24px;
}

.modal__input {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0);
}

.modal__legend {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0;
  color: #000;
  margin: 0 0 12px;
}

.modal__radio-label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.5);
}

.modal__radio-label input[type="radio"]:checked + .modal__radio-text {
  color: rgba(0, 0, 0, 1);
}

.modal__input::placeholder {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.5);
}

.modal__submit-button {
  margin: 8px 0;
  max-width: 124px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #000000;
  color: #fcf5e5;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  border: 0;
  transition: 0.5s ease-in-out;
}

.modal__submit-button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
}

.modal__button_disabled {
  opacity: 50%;
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.3);
}
