.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-right: 6px;
}

.toggle-switch__checkbox:not(:checked):hover ~ .toggle-switch__circle {
  width: 30px;
  border-radius: 48%;
}

.toggle-switch__checkbox:checked:hover ~ .toggle-switch__circle {
  width: 30px;
  left: 26px;
  border-radius: 48%;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  width: 28px;
  height: 28px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
  outline: none;
}

.toggle-switch__text {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  position: absolute;
  color: #00000080;
  margin: 0;
  top: 25%;
}

.toggle-switch__text_f {
  left: 10px;
}

.toggle-switch__text_c {
  right: 10px;
}

.toggle-switch__text_color_white {
  color: #fff;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}
