.cards__item {
  display: flex;
  height: 328px;
  justify-content: center;
}
.cards__item-text {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  margin: 15px;
  position: absolute;
  text-align: center;
  background: #ffffff;
  padding: 2px 12px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);


}
.cards__item-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 19px;
}
