.app {
  background-color: #f3f3f3;
}

.app__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}
