.registration-modal__switch {
  font-family: "Cabinet-Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  opacity: 0.5;
  text-decoration: none;
  border: none;
  background: transparent;
  position: absolute;
  bottom: 44px;
  left: 126px;
  padding: 0;
}

.modal__switch:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__label_avatar {
  margin-bottom: 22px;
}
