.header__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 32px 0 28px;
  position: relative;
}

.header__content-left {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.header__menu-icon {
  display: none;
}

.header__mobile-menu {
  display: none;
}

.header__profile-link {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: inherit;
}

.header__profile-link_type_mobile {
  flex-direction: column;

}

.header__content-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.header__date-location {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  margin: 0;
}

.header__button {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: #000;
  margin-right: 6px;
  padding: 0;
}

.header__button-authorize {
  margin-right: 8px;
}

.header__button:hover {
  cursor: pointer;
  opacity: 0.5;
  color: #ff4d00;
}

.header__username {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
  margin: 0;

  text-decoration: none;
  color: #000;
  transition: opacity 0.3s ease-in-out;
}

.header__username:hover {
  opacity: 0.5;
  cursor: pointer;
}

.header__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.header__avatar_initials {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey; /* Circle background color */
  color: white;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__modal {
  display: none;
}

@media (max-width: 768px) {
  .header__content {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0 20px 0;
  }

  .header__menu-icon {
    display: block;
    background-image: url("../../assets/images/mobile-menu.svg");
    background-position: center;
    width: 44px;
    height: 44px;
    margin-left: auto;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  .header__mobile-menu {
    display: flex;
    gap: 20px;
    padding: 20px 0 20px 0;
    border-top: 1px solid #0000004d;
    border-bottom: 1px solid #0000004d;
    width: 100%;
    margin-right: 0;
  }

  .header__mobile-menu-content {
    display: flex;
    flex-direction: column;
  }

  .header__mobile-menu-avatar {
    width: 56px;
    height: 56px;
  }

  .header__mobile-menu-username {
    font-family: Cabinet Grotesk, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0;
    margin: 0px 0 20px 0;
  }

  .header__mobile-menu-text {
    font-family: Cabinet Grotesk, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    color: #00000099;
    margin: 0 0 8px 0;
  }

  .header__mobile-menu-logout {
    font-family: Cabinet Grotesk, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    margin: 0;
    color: #00000099;
  }

  .header__content-left {
    gap: 12px;
    width: 100%;
  }

  .header__border-bottom {
    width: 300px;
    border-bottom: 1px solid #0000004d;
  }

  header {
    margin: 0 6px 0 6px;
  }

  .header__date-location {
    font-size: 16px;
    line-height: 20px;
  }

  .header__content-right {
    display: none;
  }

  .header__modal {
    visibility: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 240px;
    position: absolute;
    top: 18px;
    border-radius: 10px;
    z-index: 1;
  }

  .header__modal_closeBtn {
    position: absolute;
    top: 11px;
    right: 11.39px;
    opacity: 1;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
