.modal__content_type_image {
  padding: 0;
  border-radius: 16px;
  overflow: hidden;
}

.modal__close-button_type_preview {
  top: 24px;
  right: 24px;
  background-color: transparent;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: cover;
  width: 100%;
  display: block;
}

.modal__footer {
  margin: 20px 0 0 32px;
  padding: 0 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.modal__info {
  flex: 1;
}

.modal__caption {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  margin: 0 0 12px;
}

.modal__delete-button {
  background: none;
  border: none;
  color: #ff4d00;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 700;
  padding: 0;
  margin: 4.6px 33.56px 0 0;
  cursor: pointer;
}

.modal__delete-button:hover {
  opacity: 0.6;
}

.modal__weather {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  margin: 0;
}
