.sidebar__container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar__username {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
  margin: 0;
  white-space: nowrap;
}

.sidebar__avatar_initials {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey; /* Circle background color */
  color: white;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.sidebar__edit-profile {
  margin: 24px 0 0 0;
  width: max-content;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
}

.sidebar__edit-profile:hover {
  cursor: pointer;
  opacity: 0.5;
}

.sidebar__logout {
  margin: 8px 0 0 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
}

.sidebar__logout:hover {
  cursor: pointer;
  opacity: 0.5;
}
