.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 0 24px;
  padding-top: 85px;
  margin-top: auto;
}

.footer__text {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  margin: auto 0 0;
  color: #000000;
}

@media (max-width: 320px) {
  .footer {
    margin-top: 45px;
  }
}
