.login-modal__switch {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  opacity: 0.5;
  text-decoration: none;
  border: none;
  background: transparent;

  position: absolute;
  bottom: 44px;
  left: 113px;
  padding: 0;
}

.login-modal__switch:hover {
  opacity: 1;
  cursor: pointer;
}
